/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.question{
  /* text-align: center; */
}

input{
  position: relative;

}


.model-content{
display:flex;
flex-flow:row wrap;
}

.conatiner{
  /* position:relative; */
  margin:auto;
  width: 700px;
  height: 900px;
}

.wrapper{
  width: 200px;
  height: 350px;
  box-sizing:border-box;
  border:1px solid black;
  margin-bottom:15px;
  overflow:auto;
}

.wrapper:after{
  clear:both;
  display:block;
  overflow:auto;
}

img{
  width:100%;
  float:left;
}

.popupName{

  margin-right: 20px;
}

.popupScore{

}


.submit{
  width: 100px;
  height: 70px;
}
